{{- if .Values.gateway.enabled -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ include "server.fullname" . }}
  labels:
    {{- include "server.labels" . | nindent 4 }}
spec:
  parentRefs:
    - name: {{ include "server.fullname" . }}
      sectionName: http
  rules:
    {{- range .Values.gateway.hosts }}
    - matches:
      {{- range .paths }}
      - path:
          type: {{ .pathType }}
          value: {{ .path }}
      {{- end }}    
      backendRefs:
        - name: {{ include "server.fullname" $ }}
          port: {{ $.Values.service.port }}
    {{- end }}
{{- end }}